/* fonts */
/* latin */
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	src: url(../font/Ubuntu-Regular.woff2) format('woff2');
}

/* css files */
html {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

body {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	font-family: Ubuntu, sans-serif;
	font-size: 1em; /* 40px/16=2.5em */
}

input, textarea, select {
	border: 1px solid #555;
	padding: 0.5em;
	font-size: 15px;
	line-height: 1.5em;
	width: 80%;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
	-webkit-appearance: none;
	-webkit-box-shadow: 1px 1px 1px #fff;
	-webkit-border-radius: 0.5em;
}

button {
	border: 1px solid #555;
	padding: 0.5em;
	font-size: 15px;
	line-height: 1.2em;
	width: 80%;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
	-webkit-appearance: none;
	-webkit-box-shadow: 1px 1px 1px #fff;
	-webkit-border-radius: 0.5em;
	width: 80%;
	border-radius: 2em;
	line-height: 1.5em;
}

#viewport {
	width: 100%;
	height: 100%;
	background: #01a6e6;
	/*backrgound: red;*/
}

.scene {
	width: 100%;
	height: 100%;
	display: none;
}

/* colors */
/* red */
.color-1 {
	background-color: #ed008c !important;
}

/* green */
.color-2 {
	background-color: #8cc63e !important;
}

/* yellow */
.color-3 {
	background-color: #fcb040 !important;
}

/* blue */
.color-4 {
	background-color: #008ad2 !important;
}


/**
* connecting scene
*/
#connecting,
#death {
	width: auto;
	height: auto;
	padding: 20px 20px 0px;
	text-align: center;
}

	#connecting .logo,
	#death .logo {
		display: block;
		width: 80%;
		max-width: 685px;
		margin: 0px auto 30px;
	}
	
	#connecting .text,
	#death .text {
		display: inline-block;
		padding: 0px 20px 0px;
		font-size: 1.5em;
		line-height: 1.7em;
		background-color: rgba(255,255,255, 0.6);
		border-radius: 1em;;
	}

/**
* login scene
*/
#login {
	width: auto;
	height: auto;
	padding: 20px 20px 0px;
	text-align: center;
}

#login .logo {
	display: block;
	width: 80%;
	max-width: 685px;
	margin: 0px auto 30px;
}

#login div {
	margin: 0px auto 10px;
	text-align: center;
	width: 80%;
}

#login #input-login {
	width: 100%;
	display: block;
	margin: 0 auto 0;
}
#login #btn-submit{
	width: 100%;
	display: block;
	margin: 0 auto 0;
	-webkit-box-sizing: content-box;
}

/**
* start scene
*/
#start {
	width: auto;
	height: auto;
	padding: 20px 20px 0px;
	text-align: center;
}

#start #btn-start {
	padding-top: 200px;
}

/**
* controls scene
*/
#start {
}

#start #btn-left {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */
}

#start #btn-left {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */	
}
